body, html {
    background-color: rgb(69, 76, 86);
    height: 100%;
    margin: auto;
}

h5 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Average Sans', sans-serif;
    color: #DFC646;
    padding: 2% 0;
}

button {
    text-transform: none;
    overflow: visible;
    margin: 1% auto;
}

img {
    width: 100%;
    height: 100%;
}

.navbar-expand-lg {
    background-color: rgb(69, 76, 86);
    border-color: rgb(54, 62, 62);
    border-radius: 0;
    height: auto;
    font-family: 'Average Sans', sans-serif;
    font-weight: 500;
    letter-spacing: .8px;
    font-size: 18px;
}

.navbar-expand-lg .navbar-brand {
    color: #62BDAB;
    font-weight: 900;
}

.jumbotron {
    margin: auto;
    padding: 0;
}

.hidden {
    display: none;
}

.question {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Average Sans', sans-serif;
    position: static;
    color: #ffffff;
    padding: 5%;
}

.results, .score {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    font-family: 'Average Sans', sans-serif;
    color: #ffffff;
    padding-top: 1%;
}

.playAgain {
    font-size: 22px;
    font-weight: 900;
    margin: auto;
    text-align: center;
    color: #DFC646;
    padding: 2%;
}

.triviaContainer {
    margin-top: 10%;
    text-align: center;
}

.btn-previous, .btn-next:hover {
    background-color: #7A9E9F;
}

.btn-imp, .btn-imp:hover {
    background-color: #539fb4;
}

.btn-next, .btn-next:hover {
    background-color: #51cbce;
}

.btn-submit, .btn-submit:hover {
    background-color: #F3BB45;
}

.btn-next, .choice, .btn-imp, .btn-previous, .btn-submit {
    font-size: 22px;
    font-weight: 400;
    padding: 7px 18px;
    opacity: 1;
    border-radius: 10px;
    box-sizing: border-box;
    border-width: 1px;
    color: #ffffff;
    font-family: 'Average Sans', sans-serif;
}

.choice, .choice:hover {
    margin: auto;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    font-size: 24px !important;
    background-color: #51cbce;
}

.btn-next:hover, .choice:hover, .btn-previous:hover, .btn-submit:hover, .btn-imp:hover {
    opacity: .7;
    color: rgba(50, 54, 54, 0.877);
    font-weight: 700;
    font-size: 24px;
    font-family: 'Average Sans', sans-serif;
}